body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.csv-panel {
  display: block;
  width: 400px;
}
.csv-upload-form input {
  margin-bottom: 5px;
}